# {{ ansible_managed }}

#server {
#    listen      80 default_server;
#    server_name "";
#    return      444;
#}

#server {
#    listen      443 ssl default_server;
#    server_name "";
#    return      444;
#
#}
